body{
    display: block;
    margin: 0px;
}

.login{
    font-size: 12px;
    padding-right: 15px;
    text-align: right;

}
header {
    padding-top: 30px;
    padding-left: 30px;
    color: orange;
    line-height: 1px;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.main_page{
    margin: 10px;
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 3px;
    border-radius:5px;
    max-width: 300px;
}

.pub_list{
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 300px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color:rgb(240, 240, 240);
    color:rgb(30, 30, 30);
    margin: 10px;
    background-position: center;

}

