body{
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    max-width: 300px;
}

.menu_list{
    font-size: 12px;
    text-align: center; 
    letter-spacing: 1px;
    border-radius: 10px;
    background-color:rgb(240, 240, 240);
    color:rgb(30, 30, 30);
    margin: 10px;
    background-position: center;
    letter-spacing: 1px;
}
