{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/beer.css' %}">
</head>
<body>
    <div class="beer_info">
    {% for i in mybeer %}
    <div class="beers">
    {{i.pubname}}<br>
    </div>
    <div class="beers">
    {{i.beername}}<br>
    </div>
    <img class="beerimg" src="{{i.beerimage.url}}"><br>
    <div class="beers">
    {{i.taste}}<br>
    </div>
    <div class="beers">
    {{i.price}}<br>
    </div>
    <div class="beers">
    {{i.alcohol}}<br>
    </div>
    <div>
        좋아요 : {{i.likes.count}}
        <form method="POST" action="{% url 'like' i.id %}">
            {% csrf_token %}
        <input type="submit" value="하트">
        </form>
    </div>
    <div class="beers">
    {{i.information}}<br>
    </div>
    </div>
    {% endfor %}
</body>
</html>