<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width", initial-scale="1.0">
    <title> PNUB </title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    {%if user.is_authenticated%}
        {{user.username}}님이 접속하셨습니다.
        <a href="{%url 'logout'}">로그아웃</a>
    {%else%}
    <a href="{%url 'sign_up'%}">회원가입</a> 
    <a href="{%url 'login'%}">로그인</a>
    {%endif%}
    <header>
        <p> PU </p>
        <p> NB </p>
    </header>

    <div>
        <h3>갈매기브루잉</h3>
    </div>

    <div>
        <h3>수제맥주집</h3>
    </div>
    
    <div>
        <h3>탭일레븐</h3>
    </div>

    
</body>
</html>