<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width", initial-scale="1.0">
    <title> PNUB </title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <p>회원가입</p> <p>로그인</p>
    <header>
        <p> PU </p>
        <p> NB </p>
    </header>

    <div>
        <h3>갈매기브루잉</h3>
    </div>

    <div>
        <h3>수제맥주집</h3>
    </div>
    
    <div>
        <h3>탭일레븐</h3>
    </div>
=========pk값으로 연결
인덱스페이지올시다
    으잉?
    {% for mypub in a %}
    <a href="{% url 'pub' mypub.id %}">

        <div class="pub_list">
            <p>{{mypub.id}}.{{mypub.title}}</p>
            <p>{{mypub.number}}</p>
        </div>
    </a>
    {% endfor %}
    
</body>
</html>