{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width", initial-scale="1.0">
    <title> PNUB </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#some_flag" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
</head>
<body>
    <div class = "wrapper">
        {% if login_flag %}
        <div id="login_flag" title="Login Flag">
            <p>하트를 누르려면 로그인부터 하라능</p>
        </div>
        {% endif %}
        <div class="main_page">
        <div class="login">
        {%if user.is_authenticated%}
            {{user.username}}님이 접속하셨습니다.
            <a href="{%url 'logout' %}">로그아웃</a>
        {%else%}
        <a href="{%url 'sign_up'%}">회원가입</a> 
        <a href="{%url 'login'%}">로그인</a>
        {%endif%}
        </div>
        <header>
            <h> PU </p>
            <p> NB </p>
        </header>

        <div class=pub_name>
        {% for mypub in a %}
        <a href="{% url 'pub' mypub.id %}">

            <div class="pub_list">
                <p>{{mypub.title}}</p>
                <p>{{mypub.number}}</p>
            </div>
        </a>
        {% endfor %}
        </div>
    
    </div>
    
</body>
</html>