{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pub.css' %}">
</head>
<body>
    <div class = "wrapper">
        {% for mymenu in mypub.menulist_set.all %}
        <a href="{% url 'beer' mymenu.id %}">

            <div class="menu_list">
                <p>{{mymenu.id}}.{{mymenu.body}}</p>
                <hr>
            </div>
        </a>
        {% endfor %}
        <div class = "comment">
            <form method="post" action="{% url 'create_comment' mypub.id %}">
                {%csrf_token%}
                {%for i in comment_form%}
                    {%if i.label != 'Post' %}
                    {{i.label}} : {{i}} 
                    {%endif%}
                {%endfor%}
                <input type="hidden" name="post" value={{mypub.id}}>
                <input type="submit">
            </form>
            <hr>
            {% for i in mypub.comment_set.all %}
            <p> {{i}} <a href="{% url 'delete_comment' i.id mypub.id %}">삭제</a></p>

            <form method="post" action="{% url 'create_recomment' mypub.id %}">
                {%csrf_token%}
                {%for recom_form in recomment_form%}
                    {%if recom_form.label != 'Comment' %}
                    {{recom_form.label}} : {{recom_form}}
                    {%endif%}
                {%endfor%}
                <input type="hidden" name="comment" value={{i.id}}>
                <input type="submit">
            </form>

            {%for recom in i.recomment_set.all%}
            +{{recom}}
            <a href="{% url 'delete_recomment' recom.id mypub.id %}">삭제</a><br>
            {%endfor%}
        <hr>
        {%endfor%}
        </div>
    </div>
</body>
</html>